@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
}

:root {
    --header-bg: rgb(26, 26, 26);
    --selected-bg: rgb(19, 84, 150);
    --hover-bg: rgb(68, 86, 104);
    --split: rgb(150, 150, 150);
}

body {
    background: whitesmoke;
}

header {
    img {
        height: 40px;
        width: auto;
    }
    overflow: hidden;
    background-color: var(--header-bg);
    padding: 0 20px;
    color: white;
    h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 100;
        background: var(--hover-bg);
        padding: 2px;
    }
    section {
        display: flex;
        justify-content: space-between;
        align-items: center;
        .selected {
            background: var(--selected-bg);
            &:hover {
                background: var(--selected-bg);
            }
        }
        a {
            display: flex;
            align-items: center;
            text-align: center;
            text-decoration: none;
            font-size: medium;
            padding: 0 20px;
            height: 60px;
            background: inherit;
            color: inherit;
            border: none;
            outline: none;
            &:hover {
                background: var(--hover-bg);
            }
        }
        nav {
            display: flex;
            align-items: center;
        }
    }
    .split {
        height: 40px;
        width: 1px;
        background: var(--split);
    }
}

main {
    h1 {
        margin: auto;
        max-width: 200px;
        text-align: center;
        font-size: x-large;
        padding: 10px 20px;
        color: var(--selected-bg);
        border: 1px solid var(--selected-bg);
    }
    .page {
        margin: auto;
        width: calc(clamp(calc(200px + 2rem), 100%, 82rem) - 2rem);
        display: none;
        &:target {
            display: block;
            animation: fadeIn 250ms ease-in-out;
        }
        section {
            margin-top: 20px;
            background: rgb(255, 255, 255);
            padding: 1rem;
        }
    }
}

#home {
    div {
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        h2 {
            font-size: 30pt;
        }
    }
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translate3d(0, 5px, 0);
    }
    to {
        opacity: 1;
    }
}
