@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  --header-bg: #1a1a1a;
  --selected-bg: #135496;
  --hover-bg: #445668;
  --split: #969696;
}

body {
  background: whitesmoke;
}

header {
  overflow: hidden;
  background-color: var(--header-bg);
  padding: 0 20px;
  color: white;
}

header img {
  height: 40px;
  width: auto;
}

header h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
  background: var(--hover-bg);
  padding: 2px;
}

header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header section .selected {
  background: var(--selected-bg);
}

header section .selected:hover {
  background: var(--selected-bg);
}

header section a {
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  font-size: medium;
  padding: 0 20px;
  height: 60px;
  background: inherit;
  color: inherit;
  border: none;
  outline: none;
}

header section a:hover {
  background: var(--hover-bg);
}

header section nav {
  display: flex;
  align-items: center;
}

header .split {
  height: 40px;
  width: 1px;
  background: var(--split);
}

main h1 {
  margin: auto;
  max-width: 200px;
  text-align: center;
  font-size: x-large;
  padding: 10px 20px;
  color: var(--selected-bg);
  border: 1px solid var(--selected-bg);
}

main .page {
  margin: auto;
  width: calc(clamp(calc(200px + 2rem), 100%, 82rem) - 2rem);
  display: none;
}

main .page:target {
  display: block;
  animation: fadeIn 250ms ease-in-out;
}

main .page section {
  margin-top: 20px;
  background: white;
  padding: 1rem;
}

#home {
  text-align: center;
}

#home div {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home div h2 {
  font-size: 30pt;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, 5px, 0);
  }
  to {
    opacity: 1;
  }
}
